@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --color-start: #ff0000;
  --color-stop: #ff0000;
  --bg: #EFEFEF;
  --text-color: #222;
  --shadow-color: #dedede;
}

.dark-mode {
  --bg: #222;
  --text-color: #EFEFEF;
  --shadow-color: #333;
}

.dark-mode .logo img {
  -webkit-filter: invert(1) brightness(120%);
          filter: invert(1) brightness(120%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text-color);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
  border-bottom: 1px dashed transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover, a:focus {
  border-color: var(--text-color);
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}

.logo {
  position: fixed;
  z-index: 5;
  margin-top: 20px;
  margin-left: 20px;
  display: block;
  padding-bottom: 10px;
  width: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.logo:hover, .logo:focus {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.social-nav {
  position: fixed;
  right: 0;
  padding: 15px;
  z-index: 5;
}

.menu__item {
  width: 40px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.menu__item a svg {
  width: 24px;
  height: 24px;
}

.menu__item a svg path {
  fill: url(#header-shape-gradient);
}

.menu__item a svg linearGradient stop:nth-child(1) {
  stop-color: var(--text-color);
}

.menu__item a svg linearGradient stop:nth-child(2) {
  stop-color: var(--text-color);
}

.menu__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.languages {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.language__item {
  opacity: 0.7;
}

.language__item--active {
  opacity: 1;
  border-bottom: 1px dashed var(--text-color);
}

.light-toggler {
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  left: 25px;
  bottom: 25px;
  outline: none;
}

.light-toggler svg {
  width: 100%;
  height: 100%;
}

.light-toggler svg path {
  -webkit-transition: 0.75s cubic-bezier(0.16, 1, 0.3, 1);
  transition: 0.75s cubic-bezier(0.16, 1, 0.3, 1);
}

.light-toggler--dark {
  -webkit-animation: rotateMoon 1s 1 cubic-bezier(0.16, 1, 0.3, 1);
          animation: rotateMoon 1s 1 cubic-bezier(0.16, 1, 0.3, 1);
}

.light-toggler--dark svg path {
  d: path("M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30Z");
}

@-webkit-keyframes rotateMoon {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateMoon {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 968px) {
  .timeline__box {
    width: 100%;
  }
  .timeline__box:not(:last-child) {
    margin-bottom: 50px;
  }
  .logo {
    margin-left: 10px;
    width: 80px;
  }
  .menu__item {
    width: 30px;
  }
  .social-nav {
    padding: 5px;
  }
  .hex img {
    width: 30%;
  }
  .hex h1 {
    font-size: 14px;
    bottom: 20%;
  }
}

@media (max-width: 968px) {
  .main-header {
    top: 0;
    position: fixed;
    z-index: 2000;
    height: 50px;
    -webkit-box-shadow: 0 1px 5px var(--shadow-color);
            box-shadow: 0 1px 5px var(--shadow-color);
    background: var(--bg);
  }
  .logo {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .languages {
    position: absolute;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 50%;
  }
  .languages li:not(:last-child) {
    margin-right: 5px;
  }
  .light-toggler {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .social-nav {
    opacity: 0;
    pointer-events: none;
  }
  @-webkit-keyframes rotateMoon {
    to {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
              transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @keyframes rotateMoon {
    to {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
              transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.greeting {
  font-size: 60px;
  margin: 200px 0;
  text-align: center;
  opacity: 0.9;
  font-weight: 400;
}

.section-title {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  opacity: 0.9;
}

.image-wrapper {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.image-wrapper img {
  margin: 0 auto;
  border-radius: 50%;
}

.about__content {
  width: 700px;
  margin: 0 auto;
}

.about__content .about-me__text {
  font-size: 31px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__content .about-me__description {
  line-height: 1.95;
  margin-bottom: 25px;
}

.line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 25px 0;
  background: rgba(255, 255, 255, 0.08);
}

.animated-line {
  position: relative;
  display: block;
  width: 100px;
  height: 5px;
  margin: 15px auto;
  margin-bottom: 50px;
  overflow: hidden;
}

.animated-line::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 100%;
  width: 200%;
  background: -webkit-gradient(linear, left top, right top, from(var(--text-color)), to(var(--bg)));
  background: linear-gradient(to right, var(--text-color), var(--bg));
  -webkit-animation: moveGradient 3s infinite linear;
          animation: moveGradient 3s infinite linear;
}

@-webkit-keyframes moveGradient {
  0% {
    -webkit-transform: translatX(0);
            transform: translatX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveGradient {
  0% {
    -webkit-transform: translatX(0);
            transform: translatX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.download-cv {
  position: relative;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  background: var(--text-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: var(--bg);
  cursor: pointer;
  opacity: 0.9;
}

.download-cv:hover, .download-cv:focus {
  opacity: 1;
}

.basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__card {
  margin-bottom: 50px;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin-bottom: 25px;
}

.info__item a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info__item h3, .info__item p {
  font-size: 15px;
}

.info__item h3 {
  padding-right: 15px;
  font-weight: 400;
}

.skills {
  width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.skill__item {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  font-weight: 500;
}

.skill__item:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 800px) {
  .about__card {
    margin-bottom: 25px;
  }
  .about__content {
    width: 100%;
  }
  .skills {
    margin-bottom: 0;
    width: 100%;
  }
  .controllers {
    width: 85% !important;
  }
  .info__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .greeting {
    height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__item {
    width: 100%;
  }
  .section-title {
    font-size: 30px;
  }
}

.projects {
  margin-bottom: 50px;
}

.controllers {
  margin: 0 auto;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.controllers button {
  outline: none;
  border: none;
  background: transparent;
  letter-spacing: 1px;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 5px;
  opacity: 0.8;
  color: var(--text-color);
  cursor: pointer;
}

.controllers button:hover, .controllers button:focus {
  opacity: 1;
}

.controllers .btn--active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 1;
  border-bottom: 1px solid var(--text-color);
}

.sort-results {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.sort-results li {
  width: 350px;
  margin-bottom: 25px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.project-link {
  display: block;
  position: relative;
}

.project-link img {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-link:hover img, .project-link:focus img {
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

.project-link:hover .project-type, .project-link:focus .project-type {
  opacity: 0.4;
}

.project-link:hover .project-title, .project-link:focus .project-title {
  opacity: 1;
}

.project-title, .project-type {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 15px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-title {
  color: #fff;
}

.project-type {
  top: calc(90% - 15px);
  color: #fff;
  opacity: 0;
}

.animateProject {
  -webkit-animation: animateProject 0.5s 1 ease forwards;
          animation: animateProject 0.5s 1 ease forwards;
}

@-webkit-keyframes animateProject {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateProject {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 450px) {
  .controllers {
    width: 100% !important;
  }
  .controllers li button {
    white-space: nowrap;
    font-size: 15px;
    padding-bottom: 0;
  }
  .controllers li button.btn--active {
    -webkit-transform: none;
            transform: none;
  }
  .sort-results {
    margin-top: 25px;
  }
}

@media (max-width: 350px) {
  .controllers {
    width: 100% !important;
  }
  .controllers li button {
    font-size: 13px;
  }
}

.resume {
  margin-bottom: 50px;
}

.channels__list {
  display: none;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timeline__box {
  width: 45%;
}

.timeline__box h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.timeline__item {
  position: relative;
  padding: 30px;
  background: transparent;
  border-left: 2px solid var(--text-color);
}

.timeline__item h3, .timeline__item p {
  margin-bottom: 15px;
}

.timeline__item p {
  line-height: 2;
}

.timeline__item a {
  color: var(--text-color);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.timeline__item span:not(.channel-info) {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--text-color);
  left: 0;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline__item span:not(.channel-info)::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--bg);
}

.timeline__item:not(:last-child) {
  border-bottom: 1px solid var(--text-color);
}

@media (max-width: 996px) {
  .timeline__box {
    width: 100%;
  }
  .timeline__item {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .timeline__item {
    padding: 15px;
  }
}

.contact {
  margin-bottom: 50px;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form {
  width: 650px;
  margin: 0 auto;
}

.contact__form input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: var(--bg);
  border: 2px solid var(--text-color);
  border-radius: 5px;
  outline: none;
  color: var(--text-color);
  font-size: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact__form input:focus {
  -webkit-box-shadow: 0 0 10px #b8b2b2;
          box-shadow: 0 0 10px #b8b2b2;
}

.contact__form textarea {
  display: block;
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px 15px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  outline: none;
  background: transparent;
  color: var(--text-color);
  font-size: 15px;
}

.contact__form textarea:focus {
  -webkit-box-shadow: 0 0 10px #b8b2b2;
          box-shadow: 0 0 10px #b8b2b2;
}

.form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__top input {
  width: 310px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.contact-opening-title {
  margin-bottom: 25px;
  font-size: 22px;
}

.contact-opening-title + p {
  margin-bottom: 25px;
}

.contact__info {
  width: 400px;
}

.contact__info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__info__left {
  padding-right: 15px;
  width: 65px;
}

.contact__info__left img:not(:last-child) {
  margin-bottom: 23px;
}

.contact__info__right {
  padding-left: 15px;
  border-left: 2px solid var(--text-color);
}

.contact__info__right a {
  font-size: 14px;
}

.info__text:not(:last-child) {
  margin-bottom: 25px;
}

.info__text:not(:last-child) h4 {
  font-size: 15px;
}

.contact__info__right .social__menu {
  position: initial;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.contact__info__right .social__menu .menu__item {
  margin-bottom: 0;
  margin-right: 10px;
}

@media (max-width: 1310px) {
  .form__wrapper {
    width: 100%;
    margin-bottom: 25px;
  }
  .contact__form {
    width: 100%;
  }
  .form__top .input-wrapper {
    width: 48%;
  }
  .form__top .input-wrapper input {
    width: 100%;
  }
  .contact__info {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */