@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@media (max-width: 1370px) {
  .hex h1 {
    font-size: 22px;
  }
}

@media (max-width: 1000px) {
  .hex h1 {
    font-size: 17px;
  }
}

@media (max-width: 850px) {
  .hex h1 {
    font-size: 15px;
    bottom: 20%;
  }
}

@media (max-width: 750px) {
  .hex img {
    width: 30%;
  }
  .hex h1 {
    font-size: 14px;
    bottom: 20%;
  }
  @-webkit-keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(10) rotate(960deg) translate(-50%, -50%);
              transform: scale(10) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  @keyframes cube {
    from {
      -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
              transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(10) rotate(960deg) translate(-50%, -50%);
              transform: scale(10) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  .cursor {
    display: none;
  }
  #hexGrid {
    padding-bottom: 11.2%;
  }
  .hex {
    width: 50%;
    /* = 100 / 3 */
  }
  .hex img {
    width: 40%;
  }
  .hex h1 {
    font-size: 15px;
  }
  .hex:nth-child(3n+3) {
    /* first hexagon of even rows */
    margin-left: 25%;
    /* = width of .hex / 2  to indent even rows */
  }
  .hex:nth-child(5n+4) {
    /* first hexagon of even rows */
    margin-left: 0;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
  .hex h1 {
    font-size: 14px;
    bottom: 15%;
  }
  .hexLink:hover img, .hexLink:focus img {
    top: 22%;
  }
  .hexLink:hover h1, .hexLink:focus h1 {
    bottom: 20%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #222;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #16c0f0;
  background: #8a25b1;
}

::selection {
  color: #16c0f0;
  background: #8a25b1;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

mark {
  padding: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#8a25b1), to(#16c0f0));
  background: linear-gradient(to right, #8a25b1, #16c0f0);
  color: white;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  border: none;
  outline: none;
  display: block;
  background: transparent;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.logo {
  position: fixed;
  z-index: 5;
  margin-left: 20px;
  display: block;
  width: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.logo:hover, .logo:focus {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.social-nav {
  position: fixed;
  right: 0;
  padding: 15px;
  z-index: 5;
}

.menu__item {
  width: 40px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

#home {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #111;
  overflow: hidden;
}

.hero .cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #701e8f;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}

.hero .cube:nth-child(2n) {
  border-color: #46cdf3;
}

.hero .cube:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

.hero .cube:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.hero .cube:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.hero .cube:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.hero .cube:nth-child(6) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

#hexGrid {
  padding-left: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 1;
  pointer-events: none;
  -webkit-transform-origin: 100%, 100%;
          transform-origin: 100%, 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: grayscale(0);
          backdrop-filter: grayscale(0);
}

.link-grow {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: -webkit-gradient(linear, left top, left bottom, from(#8a25b1), to(#16c0f0));
  background: linear-gradient(#8a25b1, #16c0f0);
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
  opacity: 0.5;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background: #222;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0) skewX(0);
          transform: scaleY(0) skewX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.about-body {
  color: white;
  overflow-y: scroll;
  cursor: initial;
}

#about {
  width: 100%;
  min-height: 100vh;
  background: #111;
  padding-bottom: 100px;
}

p {
  color: #9f9f9f;
  font-size: 14px;
}

.main__title {
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.main__title p {
  font-size: 15px;
  margin-bottom: 20px;
}

.main__title h2 {
  font-size: 46px;
  margin-bottom: 40px;
}

.main__title .animated-line {
  position: relative;
  display: block;
  width: 100px;
  height: 5px;
  margin: 25px auto;
  overflow: hidden;
}

.main__title .animated-line::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 100%;
  width: 200%;
  background: -webkit-gradient(linear, left top, right top, from(#8a25b1), to(#16c0f0));
  background: linear-gradient(to right, #8a25b1, #16c0f0);
  -webkit-animation: moveGradient 3s infinite linear;
          animation: moveGradient 3s infinite linear;
}

@-webkit-keyframes moveGradient {
  0% {
    -webkit-transform: translatX(0);
            transform: translatX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveGradient {
  0% {
    -webkit-transform: translatX(0);
            transform: translatX(0);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-wrapper {
  width: 410px;
  border-radius: 5px;
}

.image-wrapper img {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin-bottom: 25px;
}

.download-cv {
  position: relative;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right top, from(#16c0f0), to(#8a25b1));
  background: linear-gradient(to right, #16c0f0, #8a25b1);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: white;
}

.download-cv img {
  border: none;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(-50%, 0%) scale(0);
          transform: translate(-50%, 0%) scale(0);
  -webkit-filter: none;
          filter: none;
  position: absolute;
  width: auto;
  height: 80%;
}

.download-cv span {
  display: block;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.download-cv:hover span {
  -webkit-transform: translate(200%, -50%);
          transform: translate(200%, -50%);
}

.download-cv:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.download-cv:hover {
  background: #161616;
}

.about__content {
  width: calc(95% - 410px);
}

.about__content .small-opening {
  font-size: 26px;
  color: #8a25b1;
  margin-bottom: 20px;
}

.about__content .about-me__text {
  font-size: 31px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__content .about-me__description {
  line-height: 1.95;
}

.about__content .line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 25px 0;
  background: rgba(255, 255, 255, 0.08);
}

.basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__card {
  margin-bottom: 150px;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  margin-bottom: 25px;
}

.info__item a {
  text-decoration: none;
  color: #8a25b1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.info__item a:hover, .info__item a:focus {
  color: #bc11ff;
}

.info__item h3, .info__item p {
  font-size: 15px;
}

.info__item h3 {
  padding-right: 15px;
  font-weight: 400;
}

.about__services {
  margin-bottom: 25px;
}

.about__services h2 {
  font-size: 38px;
  margin: 15px 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__list li {
  background: #222;
  padding: 40px;
  width: 32%;
  position: relative;
  margin-bottom: 25px;
}

.services__list li img {
  width: 96px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__list li h3 {
  letter-spacing: 2px;
  font-size: 20px;
  margin: 20px 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.services__list li p {
  line-height: 2;
}

.services__list li span {
  left: 0;
  bottom: 0;
  position: absolute;
  display: block;
  height: 3px;
  width: 0;
  background: -webkit-gradient(linear, left top, right top, from(#8a25b1), to(#16c0f0));
  background: linear-gradient(to right, #8a25b1, #16c0f0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__list li:hover span, .services__list li:focus span {
  width: 100%;
}

.services__list li:hover h3, .services__list li:focus h3 {
  letter-spacing: normal;
}

.services__list li:hover img, .services__list li:focus img {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.resume-body {
  overflow-y: scroll;
}

.resume {
  width: 100%;
  min-height: 100vh;
  background: #111;
  padding-bottom: 100px;
}

.channels__list {
  display: none;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timeline__box {
  width: 45%;
}

.timeline__box h2 {
  margin-bottom: 25px;
  font-size: 26px;
}

.timeline__item {
  position: relative;
  padding: 30px;
  background: #222;
  border-left: 2px solid #16c0f0;
}

.timeline__item h3, .timeline__item p {
  margin-bottom: 15px;
}

.timeline__item p {
  line-height: 2;
}

.timeline__item a {
  color: #8a25b1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.timeline__item a:hover, .timeline__item a:focus {
  color: #bc11ff;
}

.timeline__item span:not(.channel-info) {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #8a25b1;
  left: 0;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline__item span:not(.channel-info)::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #16c0f0;
}

.timeline__item:not(:last-child) {
  border-bottom: 1px solid #313131;
}

.linking-title {
  margin: 75px 0;
}

.linking-title h2 {
  margin: 15px 0;
  font-size: 36px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill__item {
  width: 48%;
  margin-bottom: 25px;
}

.skill__item:nth-child(1) .progress-title p:last-child {
  left: 90%;
}

.skill__item:nth-child(1) .progress-bar span {
  width: 90%;
}

.skill__item:nth-child(2) .progress-title p:last-child {
  left: 80%;
}

.skill__item:nth-child(2) .progress-bar span {
  width: 80%;
}

.skill__item:nth-child(3) .progress-title p:last-child {
  left: 70%;
}

.skill__item:nth-child(3) .progress-bar span {
  width: 70%;
}

.skill__item:nth-child(5) .progress-title p:last-child {
  left: 55%;
}

.skill__item:nth-child(5) .progress-bar span {
  width: 55%;
}

.skill__item:nth-child(6) .progress-title p:last-child {
  left: 45%;
}

.skill__item:nth-child(6) .progress-bar span {
  width: 45%;
}

.progress-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.progress-title p {
  font-size: 16px;
  color: #cecece;
}

.progress-title p:last-child {
  position: absolute;
  left: 95%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 9px;
  background: #2f2f2f;
}

.progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 95%;
  background: -webkit-gradient(linear, left top, right top, from(#8a25b1), to(#16c0f0));
  background: linear-gradient(to right, #8a25b1, #16c0f0);
}

.portfolio-body {
  overflow-y: scroll;
}

.portfolio {
  width: 100%;
  min-height: 100vh;
  background: #111;
  padding-bottom: 100px;
}

.controllers {
  margin: 0 auto;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.controllers button {
  outline: none;
  border: none;
  background: transparent;
  letter-spacing: 1px;
  font-size: 16px;
  color: #cecece;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 5px;
}

.controllers button:hover, .controllers button:focus {
  color: #8a25b1;
  border-bottom: 1px solid #8a25b1;
}

.controllers .btn--active {
  color: #8a25b1;
  border-bottom: 1px solid #8a25b1;
}

.sort-results {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.sort-results li {
  width: 350px;
  margin-bottom: 25px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.project-link {
  display: block;
  position: relative;
}

.project-link img {
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-link:hover img, .project-link:focus img {
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

.project-link:hover .project-type, .project-link:focus .project-type {
  opacity: 1;
}

.project-link:hover .project-title, .project-link:focus .project-title {
  opacity: 1;
}

.project-title, .project-type {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 15px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-title {
  color: #16c0f0;
}

.project-type {
  top: calc(90% - 15px);
  opacity: 0;
}

.animateProject {
  -webkit-animation: animateProject 0.5s 1 ease forwards;
          animation: animateProject 0.5s 1 ease forwards;
}

@-webkit-keyframes animateProject {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateProject {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.blog-body {
  overflow-y: scroll;
}

#blog {
  width: 100%;
  min-height: 100vh;
  background: #111;
  padding-bottom: 100px;
}

#blog img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.posts__item {
  display: block;
  color: white;
  width: 370px;
  margin-bottom: 25px;
}

.posts__item:hover img, .posts__item:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.post__image-wrapper {
  position: relative;
  overflow: hidden;
}

.post__image-wrapper img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.post__image-wrapper span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #16c0f0;
  font-size: 14px;
}

.post__title h3 {
  margin: 10px 0;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__form {
  width: 650px;
}

.contact__form input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: #161616;
  border: none;
  outline: none;
  color: #777;
  font-size: 15px;
}

.contact__form input:focus + .input__border-bottom-line {
  width: 100%;
}

.contact__form textarea {
  display: block;
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px 15px;
  background: #161616;
  border: none;
  outline: none;
  color: #777;
  font-size: 15px;
}

.contact__form textarea:focus + .input__border-bottom-line {
  width: 100%;
}

.form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__top input {
  width: 310px;
  border-bottom: 2px solid #111;
}

.input-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.input__border-bottom-line {
  position: absolute;
  display: block;
  width: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#16c0f0), to(#8a25b1));
  background: linear-gradient(to right, #16c0f0, #8a25b1);
  left: 0;
  bottom: 0;
}

.submit-btn {
  padding: 10px 15px;
  background: -webkit-gradient(linear, left top, right top, from(#16c0f0), to(#8a25b1));
  background: linear-gradient(to right, #16c0f0, #8a25b1);
  color: white;
  font-size: 15px;
  border-radius: 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.submit-btn:hover, .submit-btn:focus {
  -webkit-transform: translateY(-px);
          transform: translateY(-px);
}

.contact-opening-title {
  margin-bottom: 25px;
  font-size: 22px;
}

.contact-opening-title + p {
  margin-bottom: 25px;
}

.contact__info {
  width: 400px;
}

.contact__info__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__info__left {
  padding-right: 15px;
  width: 65px;
}

.contact__info__left img:not(:last-child) {
  margin-bottom: 23px;
}

.contact__info__right {
  padding-left: 15px;
  border-left: 2px solid #777;
}

.contact__info__right a {
  color: #8a25b1;
  font-size: 14px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contact__info__right a:hover, .contact__info__right a:focus {
  color: #bc11ff;
}

.info__text:not(:last-child) {
  margin-bottom: 25px;
}

.info__text:not(:last-child) h4 {
  font-size: 15px;
}
/*# sourceMappingURL=main.css.map */