@import './responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$mb: #16c0f0;
$mp: #8a25b1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #222;
  color: white
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection { /* Code for Firefox */
  color: $mb;
  background: $mp;
}
::selection {
  color: $mb;
  background: $mp;
}

img {
  display: block;
  width: 100%;
}


ul {
  list-style-type: none;
}

mark {
  padding: 2px;
  background: linear-gradient(to right, $mp,$mb);
  color: white;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn {
  border: none;
  outline: none;
  display: block;
  background: transparent;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.logo {
  position: fixed;
  z-index: 5;
  margin-left: 20px;
  display: block;
  width: 100px;
  transition: 0.3s;
  z-index: 2;
}

.logo:hover, .logo:focus {
  filter: brightness(150%);
}

.social-nav {
  position: fixed;
  right: 0;
  padding: 15px;
  z-index: 5;
}

.menu__item {
  width: 40px;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
    filter: brightness(200%);
  }
}

#home {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
}

.hero {
  position: fixed;
  height: 100vh;
  width: 100%;
  background:#111;
  overflow: hidden;

  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px darken($mp, 8%);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    
    &:nth-child(2n) {
      border-color: lighten($mb, 10%);
    }
    
    &:nth-child(2) {
      animation-delay: 2s;
      left: 25vw;
      top: 40vh;
    }
    
    &:nth-child(3) {
      animation-delay: 4s;
      left: 75vw;
      top: 50vh;
    }
    
    &:nth-child(4) {
      animation-delay: 6s;
      left: 90vw;
      top: 10vh;
    }
    
    &:nth-child(5) {
      animation-delay: 8s;
      left: 10vw;
      top: 85vh;
    }
    
    &:nth-child(6) {
      animation-delay: 10s;
      left: 50vw;
      top: 10vh;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);   
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%); 
      opacity: 0;
    }
  }
}


#hexGrid {
  padding-left: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 1;
  pointer-events: none;
  transform-origin: 100%, 100%;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform: translate(-50%,-50%);
  backdrop-filter: grayscale(0);
}

.link-grow {
  transform: scale(2);
  background:linear-gradient($mp,$mb);
  box-shadow: 0 0 10px white;
  opacity: 0.5;
}


.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background:#222;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}




//ABOUT

.about-body {
  color:white;
  overflow-y: scroll;
  cursor: initial; 
}

#about {
  width: 100%;
  min-height: 100vh;
  background:#111;
  padding-bottom: 100px;
}

p {
  color: #9f9f9f;
  font-size: 14px;
}

.main__title {
  width: 100%;
  text-align: center;
  padding: 50px 0;

  p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 46px;
    margin-bottom: 40px;
  }
  .animated-line {
    position: relative;
    display: block;
    width: 100px;
    height: 5px;
    margin: 25px auto;
    overflow: hidden;
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      height: 100%;
      width: 200%;
      background: linear-gradient(to right, $mp,$mb);
      animation: moveGradient 3s infinite linear;
    }
  }
}

@keyframes moveGradient {
  0% {
    transform: translatX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.about__card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-wrapper {
  width: 410px;
  border-radius: 5px;
  img {
    padding: 5px;   
    border: 1px solid rgba(0,0,0,0.5);
    filter: grayscale(100%);
    margin-bottom: 25px;
  }
  
}

.download-cv {
  position: relative;
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  background: linear-gradient(to right, $mb,$mp);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  transition: 0.5s ease;
  color: white;
  img {
    border: none;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transition: 0.3s;
    transform: translate(-50%, 0%) scale(0);
    filter: none;
    position: absolute;
    width: auto;
    height: 80%;
  }
  span {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    transition: 0.3s;
    z-index: 2;
  }
  &:hover span {
    transform: translate(200%,-50%);
  }
  &:hover img {
    transform: translate(-50%, -50%) scale(1);
  }
  &:hover {
    background: #161616;
  }
}

.about__content {
  width: calc(95% - 410px);

  .small-opening {
    font-size: 26px;
    color: $mp;
    margin-bottom: 20px;
  }
  .about-me__text {
    font-size: 31px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .about-me__description {
    line-height: 1.95;

    
  }
  .line {
    display: block;
    width: 100%;
    height: 2px;
    margin: 25px 0;
    background:  rgba(255,255,255,.08);
  }
}

.basic-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.about__card {
  margin-bottom: 150px;
}

.info__item {
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 25px;

  a {
    text-decoration: none;
    color: $mp;
    transition: 0.3s;

    &:hover ,&:focus {
      color:#bc11ff
    }
  }

  h3, p {
    font-size: 15px;
  }
  h3 {
    padding-right: 15px;
    font-weight: 400;

  }
}

.about__services {
  margin-bottom: 25px;
  h2 {
    font-size: 38px;
    margin: 15px 0;
  }
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    background: #222;
    padding: 40px;
    width: 32%;
    position: relative;
    margin-bottom: 25px;

    img {
      width: 96px;
      transition: 0.3s;
    }
    h3 {
      letter-spacing: 2px;
      font-size: 20px;
      margin: 20px 0;
      transition: 0.3s ease;
    }
    p {
      line-height: 2;
    }
    span {
      left: 0;
      bottom: 0;
      position: absolute;
      display: block;
      height: 3px;
      width: 0;
      background: linear-gradient(to right, $mp,$mb);
      transition: 0.3s;
    }
    &:hover span,&:focus span  {
      width: 100%;
    }
    &:hover h3,&:focus h3 {
      letter-spacing: normal;
    }
    &:hover img,&:focus img {
      transform: translateX(50%);
    }
  }
}


//RESUME


.resume-body {
  overflow-y: scroll;
}

.resume {
  width: 100%;
  min-height: 100vh;
  background:#111;
  padding-bottom: 100px;
}

.channels__list {
  display: none;
}


.timeline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.timeline__box {
  width: 45%;

  h2 {
    margin-bottom: 25px;
    font-size: 26px;
  }
}

.timeline__item {
  position: relative;
  padding: 30px;
  background: #222;
  border-left:2px solid $mb;
  h3,p {
    margin-bottom: 15px;
  }
  p {
    line-height: 2;
  }
  a {
    color: $mp;
    transition: 0.3s;
    &:hover ,&:focus {
      color:#bc11ff
    }
  }
  span:not(.channel-info) {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: $mp;
    left: 0;
    border-radius: 50%;
    transform: translateX(-50%);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background: $mb;
    }
  }
  &:not(:last-child) {
    border-bottom: 1px solid #313131;
  }
}

.linking-title {
  margin: 75px 0;

  h2 {
    margin: 15px 0;
    font-size: 36px;
  }
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill__item {
  width: 48%;
  margin-bottom: 25px;

  &:nth-child(1) {
    .progress-title {
      p {
        &:last-child {
          left: 90%;
        }
      }
    }
    .progress-bar {
      span {
        width:90%
      }
    }
  }
  &:nth-child(2) {
    .progress-title {
      p {
        &:last-child {
          left: 80%;
        }
      }
    }
    .progress-bar {
      span {
        width:80%
      }
    }
  }
  &:nth-child(3) {
    .progress-title {
      p {
        &:last-child {
          left: 70%;
        }
      }
    }
    .progress-bar {
      span {
        width:70%
      }
    }
  }
  &:nth-child(5) {
    .progress-title {
      p {
        &:last-child {
          left: 55%;
        }
      }
    }
    .progress-bar {
      span {
        width:55%
      }
    }
  }
  &:nth-child(6) {
    .progress-title {
      p {
        &:last-child {
          left: 45%;
        }
      }
    }
    .progress-bar {
      span {
        width:45%
      }
    }
  }
}

.progress-title {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  p {
    font-size: 16px;
    color: #cecece;

    &:last-child {
      position: absolute;
      left: 95%;
      transform: translateX(-100%);
    }
  }
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 9px;
  background: #2f2f2f;

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 95%;
    background: linear-gradient(to right, $mp,$mb);
  }
}



/////PORTFOLIO//////


.portfolio-body {
  overflow-y: scroll;
}

.portfolio {
  width: 100%;
  min-height: 100vh;
  background:#111;
  padding-bottom: 100px;
}

.controllers {
  margin: 0 auto;
  width: 350px;
  display: flex;
  justify-content: space-around;

  button {
    outline: none;
    border: none;
    background: transparent;
    letter-spacing: 1px;
    font-size: 16px;
    color: #cecece;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    padding-bottom: 5px;

    &:hover, &:focus {
      color: $mp;
      border-bottom: 1px solid $mp;
    }
  }
  .btn--active {
    color: $mp;
    border-bottom: 1px solid $mp;
  }
}

.sort-results {
  margin-top: 75px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  li {
    width: 350px;
    margin-bottom: 25px;
    transform: scale(0);
  }
}

.project-link {
  display: block;
  position: relative;

  img {
    height: 260px;
    object-fit: cover;
    transition: 0.3s;
  }

  &:hover img, &:focus img {
    filter: brightness(25%);
  }

  &:hover .project-type,&:focus .project-type {
    opacity: 1;
  }
  &:hover .project-title,&:focus .project-title {
    opacity: 1;
  }
}

.project-title,.project-type  {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 15px;
  opacity: 0;
  transition: 0.3s;
}

.project-title {
  color: $mb  ;
}

.project-type {
  top: calc(90% - 15px);
  opacity: 0;
} 

.animateProject {
  animation: animateProject 0.5s 1 ease forwards;
}

@keyframes animateProject {
  0%{
    transform: scale(0);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.blog-body {
  overflow-y: scroll;
}

#blog {
  width: 100%;
  min-height: 100vh;
  background:#111;
  padding-bottom: 100px;

  img {
    filter: grayscale(0);
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.posts__item {
  display: block;
  color: white;
  width: 370px;
  margin-bottom: 25px;

  &:hover img, &:focus img {
    transform: scale(1.2);
  }
}

.post__image-wrapper {
  position: relative;
  overflow: hidden;
  
  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.4s ease;
  }
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: $mb;
    font-size: 14px;
  }
}

.post__title {
  h3 {
    margin: 10px 0;
  }
}


///////CONTACT


.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact__form {
  width: 650px;
  
  input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background:#161616;
    border:none;
    outline: none;
    color: #777;
    font-size: 15px;

    &:focus + .input__border-bottom-line {
      width: 100%;
    }
  }

  textarea {
    display: block;
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 10px 15px;
    background:#161616;
    border:none;
    outline: none;
    color: #777;
    font-size: 15px;

    &:focus + .input__border-bottom-line {
      width: 100%;
    }
  }
}

.form__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  input {
    width: 310px;
    border-bottom: 2px solid #111
  }
} 

.input-wrapper {
  position: relative;
  margin-bottom: 25px;
}

.input__border-bottom-line {
  position: absolute;
  display: block;
  width: 0;
  transition: 0.3s ease;
  height: 2px;
  background: linear-gradient(to right, $mb, $mp);
  left: 0;
  bottom: 0;
}

.submit-btn {
  padding: 10px 15px;
  background: linear-gradient(to right, $mb,$mp);
  color: white;
  font-size: 15px;
  border-radius: 25px;
  transition: 0.3s ease;

  &:hover, &:focus {
    transform: translateY(-px);
  }
}

.contact-opening-title {
  margin-bottom: 25px;
  font-size: 22px;
}

.contact-opening-title + p {
  margin-bottom: 25px;
}

.contact__info {
  width: 400px;
}

.contact__info__bottom {
  display: flex;
}

.contact__info__left {
  padding-right: 15px;
  width: 65px;
  img:not(:last-child) {
    margin-bottom: 23px;
  }
}

.contact__info__right {
  padding-left: 15px;
  border-left: 2px solid #777;

  a {
    color: $mp;
    font-size: 14px;
    transition: 0.3s ease;
    &:hover, &:focus {
      color: #bc11ff;
    }
  }
}

.info__text:not(:last-child) {
  margin-bottom: 25px;

  h4 {
    font-size: 15px;
  }
}