
@media (max-width: 1370px) {
  .hex h1 {
    font-size: 22px;
  }
}

@media (max-width: 1300px) {
  .hex h1 {
    font-size: 22px;
  }


  .content__wrapper {
    align-items:flex-start;
  }

  .form__wrapper {
    width: 100%;
  }
  .contact__form {
    width: 100%;
    margin-bottom: 50px;
  }
  .form__top .input-wrapper {
    width: 48%;
    input {
      width: 100%;
    }   
  }
  .contact__info {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .hex h1 {
    font-size: 17px;
  }
  .info__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .small-opening {
    display: none;
  }




}

@media (max-width: 900px) {
  .small-opening {
    margin-top: 50px;
    display: block;
  }
  .image-wrapper {
    margin: 0 auto;
    margin-bottom: 50 px;
    width: 90%;
  }
  .about__content {
    margin: 0 auto;
    width: 90%;
  }
  .services__list {
    li {
      width: 48%;
    }
  }
}

@media (max-width: 850px) {
  .hex h1 {
    font-size: 15px;
    bottom: 20%;
  }
}
@media (max-width: 750px) {


  .timeline__box {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  .logo {
    margin-left: 10px;
    width: 80px;
  } 

  .menu__item {
    width: 30px;
  }

  .social-nav {
    padding: 5px;
  }

  .hex img {
    width: 30%;
  }
  .hex h1 {
    font-size: 14px;
    bottom: 20%;
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);   
      opacity: 1;
    }
    to {
      transform: scale(10) rotate(960deg) translate(-50%, -50%); 
      opacity: 0;
    }
  }
}

@media (max-width: 600px) {

  .services__list {
    li {
      width: 100%;
    }
  }

  .about__card {
    margin-bottom: 50px;
  }


  .skill__item {
    width: 100%;
  }


  .form__top .input-wrapper {
    width: 100%;
  }

  .cursor {
    display: none;
  }
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; 
  }
  .hex img {
    width: 40%;
  }
 
  .hex h1 {
    font-size: 15px;
  }
  .hex:nth-child(3n+3){
    margin-left:25%; 
  }
  .hex:nth-child(5n+4){ 
    margin-left:0; 
  }
}


@media (max-width: 500px) {
  .skill__item {

    .progress-title p:last-child {
      line-height: 28.5px;
      top: 31px;
      z-index: 1;
      font-size: 16px; 
      font-weight: bold;
      text-shadow: 0 0 20px $mp;
    }
  }
}

@media (max-width: 450px) {


  .main__title {
    h2 {
      font-size: 35px;
    }
    p {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  p {
    font-size: 13px;
  }
  .about__content .about-me__text {
    font-size: 25px;
  }
  .info__item {
    a, p {
      font-size: 13px;
    }
  }

  .contact__info {
    p {
      width: 70%;
    }
  }

  .info__text {
    a {
      font-size: 13px;
    }
  }

}

@media (max-width: 400px) {

  
  .basic-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .info__item {
    flex-direction: row;
    align-items: center;
  }


  .controllers {
    width: 300px;
    .sort-btn {
    font-size: 14px;
    }
  }

  .project-link img {
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__info__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 30px;
    }
  }

  #about {
    padding-bottom: 50px;
  }

  #hexGrid {
      font-size: 13px;
  }
  .hex h1 {
    font-size: 14px;
    bottom: 15%;
  }
  .hexLink:hover img, .hexLink:focus img {
    top: 22%;
  }
  .hexLink:hover h1, .hexLink:focus h1 {
    bottom: 20%;
  }
}

@media (max-width: 300px) { 
  .info__item {
    // flex-direction: column;
    align-items: flex-start;
  }


  .controllers {
    width: 280px;
    .sort-btn {
    font-size: 12px;
    }
  }
  .contact__info__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 20px;
    }
  }
}